<p id="notice"><%= notice %></p>

<h1>Genres</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr scope="row">
        <td><%= link_to genre.name, genre, class:"text-white" %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
          <% if current_user&.admin? %>
        <td><%= link_to 'Destroy', genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Genre', new_genre_path, class:"text-white" %>
<% end %>
<%= link_to 'Back', films_path, class:"text-white" %>
