<p id="notice"><%= notice %></p>

<h1>Screenwriters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screenwriters.each do |screenwriter| %>
      <tr>
        <td><%= screenwriter.name %></td>
        <td><%= link_to 'Show', screenwriter %></td>
        <td><%= link_to 'Edit', edit_screenwriter_path(screenwriter) %></td>
        <td><%= link_to 'Destroy', screenwriter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screenwriter', new_screenwriter_path %>
