<p id="notice"><%= notice %></p>

<h1>Screenwriters</h1>

<table class="table text-white">
  <thead class="thead-dark">
    <tr>
      <th scope ="col">Name</th>
      <% if user_signed_in? %>
      <th scope="col"></th>
        <% if current_user&.admin? %>
      <th scope ="col"></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @screenwriters.each do |screenwriter| %>
      <tr scope="row">
        <td><%= link_to screenwriter.name, screenwriter, class:"text-white" %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_screenwriter_path(screenwriter), class:"text-white" %></td>
          <% if current_user&.admin? %>
        <td><%= link_to 'Destroy', screenwriter, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Screenwriter', new_screenwriter_path, class:"text-white" %>
<% end %>
