<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screenwriter.name %>
</p>

<%= link_to 'Edit', edit_screenwriter_path(@screenwriter), class:"text-white" %> |
<%= link_to 'Back', screenwriters_path, class:"text-white"%> |
<%= link_to 'Destroy', @screenwriter, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white" %>
