<p id="notice"><%= notice %></p>

<h1>Directors</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <th scope="row">
    <% @directors.each do |director| %>
        <td>
          <%= link_to director.name, director, class:"text-white" %>
        </td>
        <% if user_signed_in? %>
        <td>
          <%= link_to 'Edit', edit_director_path(director), class:"text-white" %>
        </td>
            <% if director.user == current_user || current_user&.admin? %>
        <td>
          <%= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white" %>
            <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
    </th>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Director', new_director_path, class:"text-white" %> |
<% end %>
<%= link_to 'Back', films_path, class:"text-white" %>
