<%= form_with(model: film, local: true) do |form| %>
  <% if film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group" >
    <%= form.label :premiere %>
    <%= form.date_select :premiere, start_year: Date.today.year - 120, end_year: Date.today.year, order: [:day, :month, :year] %>
  </div>

  <div class="form-group">
    <%= form.label :duration %>
    <%= form.number_field :duration %>
  </div>

  <div class="form-group">
    <%= form.label :genre %><br>
    <%= form.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= form.label :director %><br>
    <%= form.collection_check_boxes :director_ids, Director.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= form.label :screenwriter %><br>
    <%= form.collection_check_boxes :screenwriter_ids, Screenwriter.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
