<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table class="table text-white">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Director</th>
      <th scope="col">Screenwriter</th>
      <th scope="col">Premiere</th>
      <th scope="col">Duration</th>
      <th scope="col">Overall rating</th>
      <th scope="col">Number of reviews</th>
      <% if user_signed_in? %>
      <th scope="col"></th>
        <% if current_user&.admin? %>
      <th scope="col"></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
    <tr scope ="row">
        <td><%= link_to film.title, film, class:"text-white" %></td>
        <td><% film.genres.each do |genre| %>
          <%= genre.name  %>
          <% end %>
        </td>
        <td><% film.directors.each do |director| %>
            <%= director.name %>
            <% end %>
        </td>
        <td><% film.screenwriters.each do |screenwriter| %>
            <%= screenwriter.name %>
            <% end %>
        </td>
        <td><%= film.premiere %></td>
        <td><%= film.duration %></td>
        <td><%= film.avg_rate %></td>
        <td><%= film.reviews.count %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_film_path(film), class:"text-white" %></td>
          <% if current_user&.admin? %>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white" %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Film', new_film_path, class:"text-white"%> |
<%= link_to 'New Genre', new_genre_path, class:"text-white"%> |
<%= link_to 'New Director', new_director_path, class:"text-white"%> |
<%= link_to 'New Screenwriter', new_screenwriter_path, class:"text-white"%>
<% end %>
