<p id="notice"><%= notice %></p>

<h1>Films</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Premiere</th>
      <th scope="col">Duration</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope ="row">
      <% @films.each do |film| %>
        <td><%= link_to film.title, film, class:"text-white" %></td>
        <td><%= film.premiere %></td>
        <td><%= film.duration %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_film_path(film), class:"text-white" %> | </td>
          <% if current_user&.admin? %>
        <td><%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white" %></td>
          <% end %>
        <% end %>
        </th>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Film', new_film_path, class:"text-white"%>
<%= link_to 'New Genre', new_genre_path, class:"text-white"%>
<%= link_to 'New Director', new_director_path, class:"text-white"%>
<%= link_to 'New Screenwriter', new_screenwriter_path, class:"text-white"%>
<% end %>
