<p><h5>
  <strong><%= @film.title %></strong>
  </h5>
</p>

<p>
  <strong>Origin:</strong>
  <% @film.origins.each do |origin| %>
  | <%= link_to origin.name, origin_path(origin), class:"text-white" %>
  <% end %>
</p>

<p>
  <strong>Genres:</strong>
  <% @film.genres.each do |genre| %>
  | <%= link_to genre.name, genre_path(genre), class:"text-white" %>
  <% end %>
</p>

<p>
<strong>Directors:</strong>
<% @film.directors.each do |director| %>
| <%= link_to director.name, director_path(director), class:"text-white" %>
   <% end %>
</p>

<p>
    <strong>Screenwriters:</strong>
  <% @film.screenwriters.each do |screenwriter| %>
| <%= link_to screenwriter.name, screenwriter_path(screenwriter), class:"text-white" %>
  <% end %>
</p>

<p>
  <strong>Overall rating:</strong>
  <%= @film.avg_rate %>
  <% if @film.reviews.any? %>
    out of
    <%= pluralize(@film.reviews.count, 'review') %>
  <% end %>
</p>

<p>
  <strong>Premiere:</strong>
  <%= @film.premiere %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @film.duration %> min.
</p>

<p>
  <strong>Description:</strong>
  <%= @film.description %>
</p>

<p>
  <strong>Added by:</strong>
  <% if @film.user&.admin? %>
  <%= 'Admin' %>
  <% else %>
  <%= @film.user.email %>
  <% end %>
</p>
<br>
<br>
<p>
<h5>Reviews:</h5>
<%= render @film.reviews %>
</p>
<br>
<br>
<p>
<% if user_signed_in? %>
<strong>Add a review:</strong>
<%= render 'reviews/form' %>
</p>
<% end %>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_film_path(@film), class:"text-white" %> |
  <% if current_user&.admin? %>
<%= link_to 'Destroy', @film, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white" %> |
  <% end %>
<% end %>
<%= link_to 'Back', films_path, class:"text-white" %>
