<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @film.title %>
</p>

<p>
  <strong>Genres:</strong>
  <% @film.genres.each do |genre| %>
  <%= genre.name  %>
  <% end %>
</p>

<p>
  <strong>Premiere:</strong>
  <%= @film.premiere %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @film.duration %>
</p>

<p>
  <strong>Added by:</strong>
  <% if @film.user&.admin? %>
  <%= 'Admin' %>
  <% else %>
  <%= @film.user.email %>
  <% end %>
</p>

<h2>Reviews</h2>
<%= render @film.reviews %>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>


<% if user_signed_in? %>
<%= link_to 'Edit', edit_film_path(@film), class:"text-white" %> |
  <% if current_user&.admin? %>
<%= link_to 'Destroy', @film, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-white" %> |
  <% end %>
<% end %>
<%= link_to 'Back', films_path, class:"text-white" %>
