<!DOCTYPE html>
<html>
  <head>
    <title>Filmweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="p-3 mb-2 bg-secondary text-white">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <nav class="navbar navbar-dark bg-dark text-white">
    <%= link_to 'Films', films_path, class:"text-white" %>
    <%= link_to 'Genres', genres_path, class:"text-white" %>
    <%= link_to 'Directors', directors_path, class:"text-white" %>
    <%= link_to 'Screenwriters', screenwriters_path, class:"text-white"%>
  </nav>

    <%= yield %>
  </body>
</html>
