<!DOCTYPE html>
<html>
  <head>
    <title>Filmweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="p-3 mb-2 bg-secondary text-white">
    <% if notice %>
      <div class="notice">
      <%= notice %>
    <% end %>
      </div>

    <% if alert %>
      <div class="alert">
      <%= alert %>
    <% end %>
      </div>

  <nav class="navbar navbar-dark bg-dark text-white">
    <% if user_signed_in? %>
      Hello, <%= current_user.email %>! | <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"text-white" %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, class:"text-white" %>
      <%= link_to 'Sign up', new_user_registration_path, class:"text-white" %>
    <% end %>
    <%= link_to 'Films', films_path, class:"text-white" %>
    <%= link_to 'Genres', genres_path, class:"text-white" %>
    <%= link_to 'Directors', directors_path, class:"text-white" %>
    <%= link_to 'Screenwriters', screenwriters_path, class:"text-white"%>
  </nav>

    <%= yield %>
  </body>
</html>
